#nav {
    /* background-color: #5e5858; */
    margin: 0;
    padding:0;
}

ul {
    padding: 0 auto;
    /* background-color: #5e5858; */


}

li {
    display: inline-block;
    /* width: 5em; */
    /* padding: 1em; */
    /* border: 1px solid #999; */
    /* background-color: #5e5858; */
    margin: 0;
}

a {
    text-decoration: none;
    padding: 1em 3em;
    background-color: #5e5858;
    margin: 0;

}

a:hover {
    text-decoration: underline;
    background-color: #f5f5dc;
}