body {
    margin: 0;
}
nav {
    background-color: #5e5858;
    overflow: hidden;
    margin: 0;
}

nav a {
    float: left;
    text-decoration: none;
    padding: 1em 3em;
    background-color: #5e5858;
    margin: 0;
}

nav a:hover {
    text-decoration: underline;
    background-color: #978d8d;
    color: black;
}

#success {
    text-align: center;
}

.inactive {
    display: none;
}

.active {
    display: block;
}
