@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Oswald');
/*-------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/
/*-------------------------------------------------------------------------------*/


/* type styles */
* {
	box-sizing: border-box;
	transition: all 100ms ease-in-out;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-family: oswald;
    font-weight: inherit;
    line-height: 1.2;
    text-align: center;
}

h1 {
    margin-top: .5em;
    font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.red {
    color: red;
}

/* homepage */
.wrapper {
    width: 95%;
    margin: 0 auto;
}

.hero-homepage {
	background-image: url(images/Katsu.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	text-align: center;
}

@media(min-width:48rem) { /* 768px/16px */

	.hero-homepage {
    	background-image: url(images/Katsu-002.jpg);
        height: 100vh;
    	background-position: right;
    	text-align: left;
	}
}

/* hero typography*/
.title {
	text-align: center;
	font-size: 2.5em;
    margin-bottom: 1.5em;
    color: white;
}


.title span {
	font-weight: 300;
	display: block;
	margin: 0;
}
@media(min-width:48rem) { /* 768px/16px */
    .title {
        text-align: left;
    }
}

/* button */
.button {
    font-family: oswald;
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	/* text-transform: uppercase; */
	border-width: 1px;
	border-style: solid;
	padding: .3em 1.75em;
}
@media(min-width: 64.0625rem) {
	.button {
		font-size: 2em;
	}
}

.button-primary-color {
	color: #ebf6f7;
	background: #27221f;
}

.button-primary-color:hover,
.button-primary-color:focus {
	box-shadow: 0 6px 6px 0 #3a3a3a;
}

/* activity list  */
/*-------------------------------------------------------------------------------*/
img {
	max-width: 100%;
	height: auto;
}
.photo-list-homepage h2 {
	margin-left: .5em;
	font-family: oswald;
}
.card {
	position: relative;
}

.card figcaption p {
	font-size: 1.333em;
}

.card a {
	text-decoration: none;
	color: #ebf6f7;
}

.card a:visited {
	color: #ebf6f7;
}

.card img {
	display: block;
}

.description {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ebf6f7;
	background: rgba(39, 34, 31, .75);
	padding: 1em;
}

.card-footer {
	text-align: center;
}

@media (min-width: 34.4375rem) {
	.card {
		width: 50%; /* 2 column layout */
		float: left;
		overflow: hidden;
	}

	.description {
		transform: translateY(150%);
	}

	.card:hover .description {
		transform: translateY(0%);
	}

}

@media(min-width:68.75rem) {
	.photo-list-homepage h3 {
		font-size: 1em;
	}
	.card {
		width: 33.3333334%; /* 3 column layout */
	}

	.description p {
		font-size: .75em;
	}
}

/* story */
.story-textarea {
	background-color: #333;
	padding: 5em;
	width: 100vw;
	outline: 1px solid #ebf6f7;
	outline-offset: -2em;
	color: #ebf6f7;
	text-align: left;
}

.story-textarea h2 {
	margin-top: 0;
}

.story-textarea a {
	color: #ebf6f7;
	text-decoration: underline dashed;
}

/* nav styles */
nav {
    background-color: #5e5858;
    overflow: hidden;
    margin: 0;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav a {
    float: left;
    text-decoration: none;
    padding: 1em 2em;
    background-color: #5e5858;
    margin: 0;
    font-family: oswald;
}

nav a:hover {
    text-decoration: underline;
    background-color: #978d8d;
    color: black;
}

#success {
	text-align: center;
	color: green;
	margin-bottom: 3em;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

/* form styles begin */
form {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;

}

@media(min-width:35rem) {
	form {
		max-width: 35rem;
		-moz-box-shadow:    3px 3px 5px 6px #ccc;
		-webkit-box-shadow: 3px 3px 5px 6px #ccc;
		box-shadow:         3px 3px 5px 6px #ccc;
		margin: 0 auto 5em;
	}
}

label {
    display: block;
    margin-bottom: 0.25em;
    width: 90%;
    font-family: oswald;
}

input,
textarea {
    width: 90%;
	padding: 1.5em;
	margin-bottom: 2em;
    border: 1px solid #ebf6f7;
}

textarea {
    min-height: 10em;
    resize: vertical;
}

input[type=submit] {
    /* background-color: #5B8930; */
    background-color: #dadada;
    /* color: #ebf6f7; */
    padding: 1.5em;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    font-family: oswald;
    /* float: right; */
}

input[type=checkbox] {
    width: auto;
    display: inline-block;
}

input[type=button] {
    width: 100%;
    font-family: oswald;
    font-size: 1em;
}

.error {
    color: red;
    margin-left: 1em;
}

/* footer styles */
footer {
    background-color: #5e5858;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}